{% extends 'core_app/base.html' %} {%block content%} {%load static %}
<body>
  <form style="margin: 5%" method="post">
    {%csrf_token%}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Just paste your API key here</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="api_key"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >For what API is this key? (company, jobs)</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="api_type"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
{%endblock%}
