{% extends 'core_app/base.html' %} {%block content%} {%load static %}
<body style="width: 80%">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 10px">
    <ul>
      <li class="nav-link"><a href="{% url 'charts' %}">Charts</a></li>

      <li class="nav-link"><a href="{% url 'index' %}">Home</a></li>
    </ul>
  </nav>
  <form style="margin: 5%" method="post">
    {%csrf_token%}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Job Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Location</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="location" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
{%endblock%}
