<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body style="width: 80%">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 10px">
      <ul>
        <li class="nav-link"><a href="{% url 'charts' %}">Charts</a></li>

        <li class="nav-link"><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </nav>
    <form style="margin: 5%" method="post">
      {%csrf_token%}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Specify date, in order to work date needs to be in this format YYYY-mm-dd (2023-09-18).
          If you want all data from table write "all"</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="date"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
