{% extends 'core_app/base.html' %} {%block content%} {%load static %}
<body style="width: 80%">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 10px">
    <ul>
      <li class="nav-link"><a href="{% url 'charts' %}">Charts</a></li>

      <li class="nav-link"><a href="{% url 'index' %}">Home</a></li>
    </ul>
  </nav>
  <form style="margin: 5%" method="post">
    {%csrf_token%}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Specify date, in order to work date needs to be in this format dd-mm-YYYY (18-09-2023). If
        you want all data from table write "all"</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="date"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {%endblock%}
</body>
